/*!CK:2563340151!*//*1401285670,178198863*/

.videoPlayerIframe{height:100%;overflow:hidden;position:absolute;width:100%}.videoPlayerIframe .swfObject{height:100%;width:100%}

#bootloader_5pmPN { height: 42px; }
.bootloader_5pmPN { display:block !important; }